@using WebStore.ViewModels
@using System.Globalization;
@using WebStore.Data.Model
@model CarsListViewModel
@{
    ViewData["Title"] = "List";
    Layout = "_Layout";
}

<h1>List</h1>
<h2>All cars</h2>
<h3>@Model.currCategory</h3>
<div class="row mt-5 mb-2">
    @{
        foreach (Car car in Model.allCars) { 
            @Html.Partial("AllCars", car)
        }
    }
</div>

